modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["util-linux"]

[deployment]
deploymentTarget = "cloudrun"
build = ["npm", "run", "build"]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34195
externalPort = 3000

[[ports]]
localPort = 37431
externalPort = 3003

[[ports]]
localPort = 39717
externalPort = 3001

[[ports]]
localPort = 43041
externalPort = 4200

[[ports]]
localPort = 46153
externalPort = 3002

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_sendgrid==1.0.0==1.0.0", "javascript_sendgrid==1.0.0", "javascript_websocket==1.0.0"]
